# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# User settings
*.xcuserdatad
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
.DS_Store

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Logs & temp
*.log
*.swp
*.swm
*.tmp
*.temp

# Secrets / environment
*.env
*.plist-internal
